.btnImpimir {
   color: black;
}

.btnImpimir:hover {
   color: black;
}

.form-control {
   color: black;
   border: 1px solid #0e0e0e;
}

.btn {
   color: #313131 !important;
   border-color: #414141;
}

.btn:hover {
   color: #ffffff !important;
   border-color: #414141;
}

.input-group-text {
   color: #0e0e0e;
   border: 1px solid #0e0e0e;
}

select {
   border: 1px solid #0e0e0e !important;
}